body {
  background: #f2f2f2;
}

a {
  color: #a12885;
}

a:hover {
  color: #75165c;
}

.btn-success {
  background-color: #61bd1a;
  border-color: #61bd1a;
}

.btn-secondary {
  background-color: #98267e;
  border-color: #98267e;
}

.btn-light {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

.btn,
.card,
.card-body {
  border-radius: 0;
  border: 0;
}

.form-control {
  border-radius: 0;
}

.card-footer {
  background-color: white;
  text-align: center;
}
.card-footer .btn-success {
  padding: 0.5rem 5.8rem;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.search-icon {
  position: absolute;
  font-size: 20pt;
  top: 5px;
  left: 25px;
  color: #ccc;
}

.site-header {
  background-color: black;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.title-section {
  padding: 10px;
  background: #72c51e;
  color: white;
  text-align: right;
}
.title-section span {
  text-align: right;
  font-size: 1.5em;
}

.inline {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}
.inline li {
  display: inline-block;
}
.inline li .border {
  margin: 10px;
}

h1 {
  font-family: "Neue Haas", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1290px;
}

.accordion .btn-link {
  color: #a12885;
}
.accordion .card-header {
  background: white;
  border-bottom: 0px solid #ccc;
}

table.table .thead-dark th {
  background: #75165c;
}

.dropdown-menu.show {
  top: 3px !important;
  border: 1px solid #bebebe;
  border-radius: 0;
  padding: 0.75rem;
}

.site-header a {
  color: white;
}

.dropdown .dropdown-menu a.dropdown-item {
  color: #332d31;
}

.dropdown .dropdown-menu a.dropdown-item:hover {
  color: #a12885;
  background: transparent;
}

#main-section .content-main {
  margin: 0 auto;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
  background: white;
  max-width: 1290px;
  padding: 20px 35px 40px;
  min-height: 500px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Neue Haas", sans-serif;
  font-weight: 300;
}

.chosen-container-single .chosen-single {
  border-radius: 0px;
  box-shadow: none;
  background: white;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  background: white;
}

.chosen-container.chosen-container-single .chosen-single {
  min-height: 38px !important;
}

.chosen-container {
  width: 100% !important;
}

.chosen-container .chosen-drop {
  border-radius: 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chosen-container .chosen-results li.highlighted {
  background-color: #98267e;
  background-image: none;
  color: white;
}

.chosen-container-single .chosen-search input[type=text] {
  border-radius: 0;
  box-shadow: none;
}

table.conciliacion td:nth-child(4) {
  border-right: 2px solid black;
}

div.custom-file * {
  border-radius: 0;
}

div.input-daterange .input-group-addon {
  padding: 5px 10px;
}

body.login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("../images/login_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: white;
}
body.login #buscador, body.login footer, body.login nav {
  display: none;
}
body.login .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}
body.login .form-signin .checkbox {
  font-weight: 400;
}
body.login .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
body.login .form-signin .form-control:focus {
  z-index: 2;
}
body.login .form-signin input[type=email] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
body.login .form-signin input[type=password] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body.page_1 .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  body.page_1 .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
body.page_1 i.far,
body.page_1 i.fas {
  font-size: 36pt;
  color: #bebebe;
}
body.page_1 h4 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 10px auto;
  color: #a12885;
}
body.page_1 .col-md-4 {
  padding: 25px 0;
}
body.page_1 .col-md-4 p {
  font-size: 11pt;
}
body.page_1 .container {
  max-width: 1290px;
}
body.page_1 .product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
body.page_1 .product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
body.page_1 .product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}
body.page_1 .flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  body.page_1 .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}
body.page_1 .overflow-hidden {
  overflow: hidden;
}

body.page_3 .content-main .card {
  border: 1px solid #ccc;
  margin: 0 auto;
}
body.page_3 .content-main .card .title {
  text-align: center;
}
body.page_3 .content-main .card .title i {
  font-size: 48pt;
  color: #bebebe;
}

body.page_8 .table-bordered td, body.page_8 .table-bordered th {
  border: 1px solid #dee2e6;
  vertical-align: middle !important;
  height: 60px;
}

body.page_11 a.page-link {
  color: #98267e;
}
body.page_11 .accordion .btn-link {
  color: #a12885;
}
body.page_11 .accordion .card-header {
  background: white;
  border-bottom: 0px solid #ccc;
}

body.page_12 #contador {
  font-size: 42pt;
  font-weight: bold;
}
body.page_12 #gauge {
  width: 100%;
  display: block;
}
body.page_12 #gauge-textfield {
  width: 100%;
  height: 40px;
  display: block;
  top: 65px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 28pt;
  font-weight: bold;
  color: black;
  margin: 10px 0;
}
body.page_12 #gauge-graph {
  position: relative;
  float: left;
  height: 320px;
  border-radius: 0px;
  clear: both;
}
body.page_12 .card {
  text-align: center;
}

#hero {
  background-image: url('../images/login_bg.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
}

#estilo_label {
  color: whitesmoke;
  font-weight: bold;
  padding: 4px;
  text-transform: uppercase;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: xx-small;
}

nav a.active{
  color: aquamarine;
}


/*# sourceMappingURL=style.css.map */
