
    <mat-toolbar color="primary">
            <mat-toolbar-row>
              <button mat-icon-button>
                <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
              </button>
              <h1>SAI Volaris</h1>
              <span class="menu-spacer"></span>
              <div>
                <a mat-button [routerLink]="'/registro-contable'"> Registro Contable </a>
                <a mat-button [routerLink]="'/conciliacion'"> Conciliación </a>
                <a mat-button [routerLink]="'/busquedas'"> Busquedas </a>
                <a mat-button [routerLink]="'/reportes'"> Reportes </a>
                <a mat-button [routerLink]="'/ayuda'"> Ayuda </a>

          
              </div>
            </mat-toolbar-row>
          
            <mat-toolbar-row>
                <span style="font-size: 12px;">SAI Volaris</span>
              </mat-toolbar-row>
          </mat-toolbar>

<br>

    <div class="row">
            
            <div class="col-sm-6 offset-sm-3">
                    
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>

