/* You can add global styles to this file, and also import other style files */
/*html{
    
}
*/
html, body, app-root {
    background: url('../src/app/images/login_bg.jpg');
    /*height: 100%;*/
    /*margin: 0;*/
    }

#hero {
    background-image: url('../src/app/images/login_bg.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
