<h1>Hola {{currentUser.firstName}}!</h1>
<p>Bienvenido al SAI</p>
<h3>Usuario Ingresado</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Eliminar</a>
    </li>
</ul>